body {
    font-family: Verdana, sans-serif;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
    margin: 20px;
}

h1 {
    font-variant: small-caps;
    background-color: red;
    padding: 10px;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    border: 2px solid blue;
    padding: 2px;
    border-radius: 4px;
}

.stippeltjesrand {
    border: 1px dotted darkblue;
    padding: 10px;
    margin: 10px 0;
}
