body {
    font: 1.2em/1.2 Helvetica, aria, sans-serif;
    margin: 0 3%;
}

@media screen and (max-width: 768px) {
    figure {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background-color: mediumpurple;
    }

    figure {
        display: inline-block;
        width: calc(50% - 25px);
        margin: 0 5px 25px;
    }


}

@media screen and (min-width: 992px) {
    body {
        background-color: green;
    }

    figure {
        display: inline-block;
        width: calc(33.3333% - 25px);
        margin: 0 5px 25px;

    }
}


h1 {
    font-size: 1.8em;
    margin: .9em 0 0 0;
}
h2 {
    font-size: 1.5em;
    margin: 1.5em 0 0 0;
}

img {
    max-width: 100%;
}

figure {
    background: black;
    border-radius: 5px;
    color: red;
    margin: 0 0 25px 0;
    padding: 10px;
    text-align: center;

}

figcaption {
    font-size: .8em;
}

