main {
    margin: 10px;
}

article {
    font-size: 1.25em;
    margin-bottom: 10px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

article img {
    width: 200px;
    margin: 0 10px 10px 0;
}

article:nth-child(odd) img {
    float: right;
    margin: 0 0 10px 10px;
}

article:nth-child(even) img {
    float: left;
    margin: 0 10px 10px 0;
}
